# Core functionality - changes here should be rare!
/src/app.py                   @GavinF09
/src/backend/database.py      @GavinF09
/src/backend/routers/auth.py  @GavinF09

# The frontend will need refactored soon to be more object oriented.
/src/static/   @GavinF09
